.action-feed-container {
    display: flex;
    column-gap: 16px;
    margin-bottom: 24px;

    .action-feed-desc {
        color: #fff;
        padding: 16px;
        min-width: 240px;
        border-radius: 16px;  
        &-title {
            text-transform: uppercase;            
        }
    }

    .action-feed-main {
        flex-grow: 1;

        .slider-content {
            padding: 16px 16px;
            border-radius: 20px;
            // display: flex;
        }
    }
}