.action-feed-container {
    display: flex;
    column-gap: 16px;
    margin-bottom: 24px;

    .action-feed-desc {
        color: #fff;
        padding: 8px;
        min-width: 240px;
        border-radius: 16px;

        &-content {
            height: 100%;
            padding: 8px;
            border-radius: 12px;
        }

        &-title {
            text-transform: uppercase;
            text-decoration: underline;
        }
    }

    .action-feed-main {
        flex-grow: 1;

        .slider-content {
            padding: 12px 16px;
            border-radius: 16px;
        }
    }
}