.roadmap-container {
    background-color: #1a1a1c;
    padding: 32px 32px 0;

    .roadmap-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 24px;
        flex-wrap: wrap;

        @media (min-width: 900px) {
            flex-wrap: nowrap;
        }
    }
}

.step-container {
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    align-self: flex-start;

    @media (min-width: 600px) {
        width: 45%;
    }

    @media (min-width: 900px) {
        width: 25%;
    }



    .step-info {
        background-color: #141416;
        width: 90%;
        margin-left: auto;
        transform: translate(16px, -32px);
        padding: 32px 16px;

        &-title {
            font-size: 20px;
            font-weight: 600;
            padding-left: 8px;
            margin-bottom: 8px;
        }

        &-text {
            color: #fff;
        }
    }
}