.caption {
    caption-side: top !important;
    text-align: center !important;
    color: #000 !important;
    font-weight: 600 !important;
}

.collection-wrap {
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #6164ff;
    font-family: Audiowide ;
}

.collection-wrap:hover {
    background-color: white;
}